# 文档地址: https://pnpm.io/npmrc
## 默认地址
registry=https://registry.npmjs.org/
## 可使用国内镜像地址
# registry=http://registry.npmmirror.com/
git-checks=false
package-manager-strict=false
## 部分场景可能需要开启此配置
# shamefully-hoist=true