# 文档地址: https://pnpm.io/npmrc
## 默认地址
registry=https://registry.npmjs.org/
## 可使用国内镜像地址
# registry=http://registry.npmmirror.com/

## Git 配置
git-checks=false

## 包管理器配置
package-manager-strict=false

## 依赖处理
auto-install-peers=true
strict-peer-dependencies=false
resolution-mode=highest

## 部分场景可能需要开启此配置
# shamefully-hoist=true